.profile {
    height: 100vh;
    background-color: #16161c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container {
    max-width: 1600px;
    width: 100%;
    background-color: #fafafa;
    display: flex;
}

.profile-container > .sidebar {
    background-color: rgb(151, 127, 96)  ;
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container > .main {
    background-color: blue;
    width: 63%;
    height: 80vh;
}

.profile-container > .profile-info {
    width: 35%;
}

.profile-container > .sidebar > .navbar {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.navbar-link {
    color: #000000;
    font-size: 2rem;
}


/* BLOG CARD */
.blog-card {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 1.5rem;
}


.blog-card > .timeago {
    grid-column: 1;
    grid-row: 1;
}

.blog-card > .card-title {
    grid-column: 1;
    grid-row: 2;

    font-weight: 700;
    font-size: 2rem;
    margin: 0;
}

.blog-card > .card-body {
    grid-column: 1;
    grid-row: 3;

    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 70px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-card > img {
    grid-column: 2;
    grid-row: 2 / span 2;


    justify-self: center;
    height: 120px;
    width: 120px;
    object-fit: cover;
}

.blog-card > .card-footer {
    grid-column: 1;
    grid-row: 4;    

    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* BLOG CARD LIST */
.profile-home > .blog-card:not(:last-child) {
    border-bottom: 1px solid #000000;
}